<div class="glass-banner rounded-2xl shadow p-5 mb-5 d-flex flex-column flex-md-row align-items-center justify-content-between gap-4">
    <header class="text-center text-md-start">
        <h1 class="display-4 fw-normal">Блог — полезное и интересное</h1>
        <p class="lead text-gray-600">Читайте статьи, делитесь опытом и вдохновляйтесь!</p>
    </header>
    <div class="d-flex flex-column align-items-center gap-3 mt-3 mb-3">
        <div>
            <h2 class="fw-semibold mb-1 text-success">100 статей</h2>
        </div>
        <div>
            <h2 class="fw-semibold mb-1 text-success">85 авторов</h2>
        </div>
    </div>
    <div class="text-center w-5 ms-4">
        <p class="lead text-gray-600 mt-4 mb-4">
            Создавайте собственные статьи и делитесь знаниями</p>
        <a href="#" class="btn-link inline-block bg-blue-600 px-4 py-2 rounded-lg mt-2 mb-4">Создать статью</a>
    </div>
</div>
