<form method="get" class="mb-4 text-center">
    <div class="d-flex justify-content-center align-items-center flex-column flex-md-row gap-2 w-100">
        <input name="q" value="{{ query }}" placeholder="Поиск" class="form-control flex-grow-1 me-md-2 mb-2 mb-md-0 search-input" style="max-width: 600px;" />
        <button type="submit"
                class="btn btn-outline-success d-flex align-items-center justify-content-center"
                style="border-width: 2px;">
            <span class="text-success me-1">🔍</span> Поиск
        </button>
    </div>
</form>
