<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            Skystore
            <small class="d-block mb-3 text-muted">&copy; 2023</small>
        </div>
        <div class="col-6 col-md">
            <h5>Категории</h5>
            <ul class="list-unstyled text-small">
                {% for category in global_categories %}
                    <li><a href="{% url "catalog:home" %}?category_id={{ category.id }}">{{ category.name }}</a></li>
                {% endfor %}
                <li><a href="{% url "catalog:home" %}">Все товары</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5><a class="text-muted" href="{% url 'blog:blog_main' %}">Блог</a></h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'blog:blogposts' %}">Статьи пользователей</a></li>
                <li><a class="text-muted" href="{% url 'blog:blogpost_create' %}">Создать свою статью</a></li>
                <li><a class="text-muted" href="{% url 'blog:blogpost_list' %}">Редактор статей</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/catalog/contacts/">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>
