<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-5">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Назад</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Назад</span></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?q={{ query }}&page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}">Вперед</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Вперед</span></li>
        {% endif %}
    </ul>
</nav>
