{% extends "base.html" %}

{% block title %}Редактор статей{% endblock %}

{% block content %}
    <section class="container mx-auto p-6">

        <div class="header">
            <h1>Редактор статей</h1>
            <nav>
                <a href="{% url 'library:book_create' %}">Добавить новую статью</a>
            </nav>
        </div>
        <h2>Список опубликованных статей</h2>
        <ul class="list-group">
            {% for post in blogposts_list %}
                <li class="list-group-item">
                    <a href="{% url 'blog:blogpost_editor_detail' post.pk %}">{{ post.title }}</a> -
                    {{ post.author }} - {{ post.created_at }} - {{ post.updated_at }} -
                    {{ post.number_of_views }}
                </li>
            {% endfor %}
        </ul>

    </section>
{% endblock %}