{% extends "base.html" %}
{% load highlight %}

{% block content %}
<div class="container mt-5">
    {% include "includes/search_bar.html" %}
    <div class="container mt-5">
        <h2 class="fw-normal">Поиск статей{% if query %} по запросу "{{ query }}"{% endif %}</h2>
        <hr>
    </div>

    <div class="container mt-5 mb-5">
        {% if not query %}
            <h4 class="fw-normal">Введите ключевое слово для поиска</h4>
        {% elif not page_obj %}
            <h4 class="fw-normal">Ничего не найдено</h4>
        {% else %}
            <ul class="list-group">
                {% for post in page_obj %}
                    <li class="list-group-item py-3">
                        <a href="{% url "blog:blogposts_detail" post.id %}" class="text-dark text-decoration-none fw-semibold">
                            <u>{{ post.title|highlight:query|safe }}</u>
                        </a><br>
                        <small>{{ post.content|truncatewords:100|highlight:query|safe }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% if page_obj.has_other_pages %}
    <div class="mt-auto">
        {% include "includes/pagination.html" %}
    </div>
{% endif %}
{% endblock %}
