{% extends "base.html" %}

{% block title %}Редактор статьи{% endblock %}

{% block content %}
    <section class="container mx-auto p-6">

        <div class="header">
            <h1>Редактор статей</h1>
        </div>

        <h2>{{ blogpost.title }}</h2>
        <p>Автор: {{ blogpost.author.first_name }} {{ blogpost.author.last_name }}</p>
        <p>Количество статей автора: {{ author_posts_count }}</p>
        <p>Дата публикации: {{ blogpost.created_at }}</p>
        <p>Последнее обновление: {{ blogpost.updated_at }}</p>
        <p>Содержание: {{ blogpost.content }}</p>
        <p>Изображение: {{ blogpost.preview }}</p>
        <p>Количество просмотров: {{ blogpost.number_of_views }}</p>

        <a href="{% url 'blog:blogpost_update' book.pk %}" class="btn btn-secondary">Редактировать</a>
        <a href="{% url 'blog:blogpost_delete' book.pk %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'blog:blogposts_editor_list' %}" class="btn btn-primary">Вернуться к списку</a>

    </section>
{% endblock %}