{% extends "base.html" %}

{% block title %}Удалить статью{% endblock %}

{% block content %}
    <section class="container mx-auto p-6">
        {% include "blog/includes/blogpost_editor_header.html" %}

        <div class="col-lg-8 col-md-6 col-sm-12 mx-auto">
            <div class="card shadow-sm border-0 rounded-3 blog-form">
                <div class="card-header bg-primary text-white text-center py-3 rounded-top">
                    <h4 class="my-0 fw-semibold">Удалить статью</h4>
                </div>
                <div class="card-body px-5 py-4">
                    <p class="text-center mt-3 mb-3">Вы уверены, что хотите удалить статью</p>
                    <p class="fw-semibold text-center mt-3 mb-5">"{{ blogpost.title }}"?</p>
                    <form method="post" class="d-flex align-items-center">
                        {% csrf_token %}
                        <div class="flex-grow-1 text-center">
                            <button type="submit" class="btn btn-danger mx-3">Удалить</button>
                            <a href="{% url 'blog:blogpost_list' %}" class="btn btn-secondary">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
