{% extends "base.html" %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}

{% include "catalog/includes/banner_home_page.html" %}
{% include "includes/search_bar.html" %}
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-5">
        {% for obj in products %}
        <div class="col">
            <div class="card mb-4 box-shadow text-center h-100">
                <img src="{{ obj.image.url }}" alt="{{ obj.name }}"
                     class="card-img-top img-fluid rounded-top">
                <div class="card-header text-white text-center py-2 rounded-0">
                    <h4 class="my-0 font-weight-normal">{{ obj.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ obj.price }} ₽</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ obj.brief_description|truncatechars:100 }}</li>
                    </ul>
                    {% if obj.pk %}
                        <a href="{% url 'catalog:product_detail' pk=obj.pk %}" class="btn-link">Подробнее</a>
                    {% else %}
                        <span class="text-muted">Ссылка недоступна</span>
                    {% endif %}
                    <div class="btn-group">
                        <a href="{% url 'catalog:product_update' pk=obj.pk %}" class="btn-link btn-blue mt-4">Редактировать</a>
                        <a href="{% url 'catalog:product_delete' pk=obj.pk %}" class="btn-link btn-red mt-4">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        <div class="mt-auto">
            {% include "includes/pagination.html" %}
        </div>
    {% endif %}
</div>

{% endblock %}
