{% extends "base.html" %}

{% block title %}Форма карточки товара{% endblock %}

{% block content %}
    <section class="container mx-auto p-6 my-5">
    <div class="pricing-header px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Редактор товаров</h1>
    </div>
        <div class="col-lg-8 col-md-6 col-sm-12 mx-auto">
            <div class="card shadow-sm border-0 rounded-3 edit-form">
                <div class="card-header bg-primary text-white text-center py-3 rounded-top">
                    <h4 class="my-0 fw-semibold">Форма карточки товара</h4>
                </div>
                <div class="card-body px-5 py-4">
                    {% if perms.catalog.can_publish_product and perms.catalog.can_unpublish_product or user == obj.owner %}
                        <form method="post" enctype="multipart/form-data" class="p-4 rounded shadow-sm bg-white">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger mb-3">
                                    <ul class="mb-0">
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if user == obj.owner %}
                                <div class="mb-3">
                                    <label class="form-label">Наименование товара:</label>
                                    {{ form.name }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Краткое описание товара:</label>
                                    {{ form.brief_description }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Полное описание товара:</label>
                                    {{ form.description }}
                                </div>
                                <div class="mb-3">
                                    {{ form.image }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Категория:</label>
                                    {{ form.category }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Цена товара:</label>
                                    {{ form.price }}
                                    <div class="form-text">Введите цену в формате 00.00</div>
                                </div>
                            {% else %}
                                <div class="mb-3">
                                    <label class="form-label">Категория:</label>
                                    {{ form.category }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Статус публикации:</label>
                                    {{ form.status }}
                                </div>
                            {% endif %}

                            <div class="d-flex justify-content-center gap-3 mt-5 mb-3 text-center">
                                <div class="flex-grow-1 text-center">
                                    <button type="submit" class="btn btn-success px-4">
                                        Сохранить
                                    </button>
                                    <a href="{% url 'catalog:home' %}" class="btn btn-secondary px-4 mx-3">
                                        Отмена
                                    </a>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <p class="text-center mt-4">
                            Чтобы создать или редактировать статью, <a href="{% url 'users:login' %}" class="text-blue-600">войдите в аккаунт</a>.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>
{% endblock %}
