{% extends "base.html" %}

{% block title %}Товары{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="card mx-4 my-4 p-4">
        <div class="row g-4">
            <div class="col-5 col-sm-4">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid rounded-top">
            </div>

            <div class="col-7 col-sm-8 d-flex flex-column product-col">
                <div class="card-body">
                    <h1 class="font-weight-normal py-2">{{ product.name }}</h1>
                    <h1 class="card-title pricing-card-title">{{ product.price }} ₽</h1>
                    <p class="card-text text-justify">{{ product.description }}</p>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-5 buttons-block">
                    <div class="flex-grow-1 text-center">
                        <button type="button" class="btn btn-buy">Купить</button>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="d-flex justify-content-center gap-3 mt-2 text-center">
                        <a href="{% url 'catalog:product_update' pk=product.pk %}" class="btn-link btn-blue mt-4">Редактировать</a>
                        <a href="{% url 'catalog:product_delete' pk=product.pk %}" class="btn-link btn-red mt-4">Удалить</a>
                        <a href="{% url 'catalog:home' %}" class="btn-link btn-green mt-4">Назад</a>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-center gap-3 mt-2 text-center ms-auto me-4">
                        <a href="{% url 'catalog:home' %}" class="btn-link btn-green mt-4">Назад</a>
                    </div>
                {% endif %}
                <div class="product-updated text-end">
                    <small class="text-muted">Последнее обновление: {{ product.updated_at|date:"j b Y G:i" }}</small>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
